* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --clr-text: hsl(13, 61%, 40%);
  font-size: 6.25%;
}

body {
  font-family: 'Source Serif 4', sans-serif;
  color: var(--clr-text);
}

main {
  padding: 53rem 37rem;
}

h1 {
  font-size: 28rem;
}

p, ul, ol, strong {
  font-size: 14rem;
}


.informations {
  display: flex;
  flex-direction: column;
  gap: 46rem;
}

.mode {
  margin-top: 34em;
  display: flex;
  flex-direction: column;
}

.mode strong {
  margin-top: 36rem;
}

.mode ul, .mode ol {
  margin-left: 20rem;
}

button {
  margin-top: 54rem;
  width: 94rem;
  height: 31rem;
  border: none;
  background: var(--clr-text);
  border-radius: 6rem;
  font-size: 10rem;
  line-height: 17rem;
  color: #fff;
}

@media (min-width: 500px) {
  body{
    background-image: url(img/back.png);
  }
  main {
    display: flex;
    max-width: 1150rem;
    align-items: baseline;
    justify-content: space-between;
    margin: auto;
  }

  .informations {
    max-width: 435rem;
    max-height: 250rem;
  }

  .mode{
    max-width: 470rem;
  }
  
  button {
    margin-top: 54rem;
    width: 133rem;
    height: 45rem;
    font-size: 14rem;
    line-height: 24rem;
  }
  p, ol, ul {
    font-size: 20rem;
  }

  h1 {
    font-size: 40rem;
  }
}