* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 6.25%;
  font-family: 'Mulish';
  --clr-pink: hsl(320, 69%, 42%);
  --clr-blue: hsl(244, 38%, 28%);
  --clr-white: hsl(255, 0%, 100%);
  --clr-linear: hsl(260, 50%, 38%);
}

.container {
  padding: 0 32rem;
}

header {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#astro img{
  width: 375rem;
}

header h1, h1 {
  margin-top: 20rem;
  font-size: 32rem;
  color: var(--clr-pink);
  font-weight: 800;
}

header h2 {
  font-size: 20rem;
  color: var(--clr-blue);
  margin-bottom: 35rem;
}

.cards {
  margin-top: 94rem;
  background: var(--clr-blue);
  display: grid;
  grid-template-columns: 350rem;
  padding: 52rem 0;
  row-gap: 50rem;
  justify-content: center;
}

.card {
  background: var(--clr-white);
  border-radius: 20rem;
  padding: 27rem;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 80rem;
  height: 80rem;
}

.card h1 {
  font-size: 30rem;
  color: var(--clr-pink);
  font-weight: 800;
  margin-top: 30rem;
}

.card p {
  font-size: 16rem;
  color: var(--clr-blue);
  font-weight: 600;
  margin-top: 20rem;
}

.inputs {
  margin-top: 24rem;
}

fieldset {
  border: none;
  padding: 70rem 0;
}

label {
  position: absolute;
  z-index: -1;
  height: 1px;
  width: 1px;
  margin-left: 10px;
}

input, textarea {
  text-decoration: none;
  font-size: 16rem;
  color: var(--clr-blue);
  font-family: 'Mulish';
  font-weight: 700;
  width: 100%;
  border-radius: 16rem;
  border: 1px solid;
  padding-left: 16rem;
}

input {
  height: 48rem;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 14rem; 
  padding-left: 50rem;
}

#user input {
  background-image: url("./img/user.png");
}

#email input {
  background-image: url("./img/arroba.png");
}

textarea {
  padding-top: 12rem;
}

button {
  margin-top: 24rem;
  background: var(--clr-blue);
  border: none;
  border-radius: 16rem;
  width: 152rem;
  height: 45rem;
  color: var(--clr-white);
  font-weight: 600;
}

footer {
  text-align: center;
  justify-content: center;
  color: var(--clr-white);
  background: linear-gradient(var(--clr-linear), var(--clr-blue));
  font-size: 20rem;
  padding: 32rem;
}